objectValueCompare
objectValueTypeCompare
newPair
m4/*
*.[ao]
*.exe
*.lo
*.la
.libs
libtool
ltmain.sh
.deps
INSTALL
main
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
aclocal.m4
compile
autom4te.cache
configure
depcomp
install-sh
vector
missing
stamp-h1
*~
libobject-*.tar.gz
.*.swp
*.log
*.trs
libobjectconfig.h
test-driver
newNumberFromCharArray
newString
objectToString
newLong
newDouble
newFunction
objectToJson
